<div class="container">
    <h1>{{ heroe.nombre | uppercase }}. <small>{{ heroe.aparicion | date: 'y' }}</small></h1>
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img [src]="heroe.img" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h3>{{heroe.nombre}}</h3>
            <br>
            <hr>
            <p>{{heroe.bio}}</p>
            <div>
                <!-- Operadores ternarios -->
                <img class="medium img-fluid" [src]="heroe.casa == options.marvel ? images.marvel : images.dc" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="" [routerLink]="['/heroes']">Regresar</a>
        </div>
    </div>
</div>